@page
@using WebUI.Pages.Components.Search
@using WebUI.Pages.Refunds.Components.RefundsList
@model WebUI.Pages.Refunds.IndexModel

@{
    ViewData["Title"] = "Refunds";
}

<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync(
            nameof(Search),
            new { model = Model.Pf }
            )
    </div>
    <div class="col-md-6 text-right">
        <p>
            <a asp-page="Create" 
               class="btn btn-primary">Create new</a>
        </p>
    </div>
</div>

<div>
    @await Component.InvokeAsync(
        nameof(RefundsList),
        new { refunds = Model.Refunds })

    @await  Component.InvokeAsync(
        nameof(WebUI.Pages.Components.Pagination),
        new { model = Model.Refunds.EmitPagination })
</div>
