@page
@using WebUI.Areas.People.Pages.Employees
@model IndexModel

@{
    ViewData["Title"] = "Employees";
}

@if (Model.Employees.Any())
{
    <div class="row">
        <div class="col-md-6">
            <partial name="_Search" 
                     for="Pf" />
        </div>
        <div class="col-md-6 text-right">
            <p>
                <a asp-page="Create"
                   class="btn btn-primary">
                    Create new
                </a>
            </p>
        </div>
    </div>

    <partial name="_EmployeesList" 
             for="Employees" />
    <partial name="_Pagination" 
             for="Employees.EmitPagination" />
}
else
{
    <partial name="_LonelyHere" />
}
