@page
@using WebUI.Areas.Incoming.Pages.PurchaseReturns
@model CreateModel

@{
    ViewData["Title"] = "New Purchase-Return";
}

<div class="row">
    <div class="col-md-8">
            <partial name="_PurchaseReturnForm" 
                     for="PurchaseReturnVm"/>
    </div>
</div>

<div>
    <a asp-page="Index">
        Back to List
    </a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/purchaseReturnForm.js" 
            asp-append-version="true">
    </script>
}
