@page
@model WebUI.Pages.Services.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="display-4">Edit Service</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @await Component.InvokeAsync(
                nameof(Components.ServiceForm.ServiceForm),
                new { service = Model.ServiceVm })

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
