@using Domain
@inject UserManager<User> _UserManager

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    var user = await _UserManager.GetUserAsync(User);
    var userFullName = user.FullName;
}

<h1>@userFullName</h1>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
