@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Options.Title</h1>
    <p class="h4 lead"><lead>@Model.Options.Slogan</lead></p>
    <p><lead>@Model.Options.Address</lead></p>
</div>
