@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Khata</h1>
    <p><lead>I will manage all your Pera of Calculation.<br/>Just give me small hints.</lead></p>
</div>
