<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet"
          href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css">

    <link href="~/lib/font-awesome.css"
          rel="stylesheet" />

    <link href="~/lib/daterangepicker/daterangepicker.css"
          rel="stylesheet" />

    @*<link href="~/lib/tempus-dominus/tempusdominus-bootstrap-4.min.css"
        rel="stylesheet" />*@

    <link rel="stylesheet"
          href="~/css/site.css" />

    <link rel="stylesheet"
          href="~/css/sidebar.css" />
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <partial name="_Sidebar" />

        <!-- Custom-header-wrapper -->
        <partial name="_Navbar" />


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <partial name="_Message" />
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/tempus-dominus/moment.js"
            asp-append-version="true"></script>

    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/sweetalert/sweetalert.min.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/bootstrap/dist/js/popper.min.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/daterangepicker/moment.js"
            asp-append-version="true">
    </script>

    <script src="~/lib/daterangepicker/daterangepicker.min.js"
            asp-append-version="true">
    </script>

    <script src="~/js/sidebar.js"
            asp-append-version="true">
    </script>

    <script src="~/js/helperFunctions.js"
            asp-append-version="true">
    </script>

    <script src="~/js/site.js"
            asp-append-version="true">
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>