@using Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager;

@{
    var user   = await UserManager.GetUserAsync(User);
    var base64 = Convert.ToBase64String(user?.Avatar ?? new byte[0]);
    var avatarImage = string.Format($"data:image/jpeg;base64,{base64}");
}

<nav id="custom-header-wrapper"
     class="navbar navbar-expand-lg navbar-light bg-light border-bottom align-text-top">
    <button class="btn btn-link"
            id="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" 
         id="navbarSupportedContent">
        <ul class="navbar-nav mt-2 mt-lg-0">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index"
                       title="Manage">
                        <img src="@avatarImage"
                             class="rounded-circle"
                             alt="avatar"
                             width="30">
                        @User.Identity.Name
                    </a>
                </li>
                @*<li class="nav-item">
                    <form class="form-inline" 
                          asp-area="Identity" 
                          asp-page="/Account/Logout" 
                          asp-route-returnUrl="@Url.Page("/", new { area = "" })" 
                          method="post">
                        <button type="submit"
                                class="nav-link btn btn-link text-dark">
                            Logout
                        </button>
                    </form>
                </li>*@
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" 
                       asp-area="Identity" 
                       asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
    </div>
</nav>
