
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="mt-2">
            <h2>
                <a asp-page="/Index"
                   class="nav-link text-uppercase text-center">
                    Khata
                </a>
            </h2>
        </li>

        <partial name="_SignInPartial" />

        <li>
            <a asp-page="/Dashboard/Index">
                <i class="fa fa-chart-line"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a asp-area=""
               asp-page="/Cash/Index">
                <i class="fa fa-cash-register"></i>
                Cash
            </a>
        </li>

        <li>
            <a href="#incomingSubmenu"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle cust-dropdown">
                <i class="fa fa-arrow-right"></i>
                Incoming
            </a>
            <ul class="collapse list-unstyled"
                id="incomingSubmenu">
                <li>
                    <a asp-area=""
                       asp-page="/Sales/Index">
                        <i class="fas fa-shopping-cart"></i>
                        Sales
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/DebtPayments/Index">
                        <i class="fas fa-money-bill"></i>
                        Debt Payments
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Customers/Index">
                        <i class="fas fa-user-tag"></i>
                        Customers
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/PurchaseReturns/Index">
                        <i class="fas fa-cart-arrow-down"></i>
                        Purchase Returns
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#outgoingSubmenu" 
               data-toggle="collapse" 
               aria-expanded="false" 
               class="dropdown-toggle cust-dropdown">
                <i class="fa fa-arrow-left"></i>
                Outgoing
            </a>
            <ul class="collapse list-unstyled" 
                id="outgoingSubmenu">

                <li>
                    <a asp-area=""
                       asp-page="/Expenses/Index">
                        <i class="fas fa-receipt"></i>
                        Expenses
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Refunds/Index">
                        <i class="fas fa-undo"></i>
                        Refunds
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Purchases/Index">
                        <i class="fas fa-truck-loading"></i>
                        Purchases
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/SupplierPayments/Index">
                        <i class="fas fa-file-invoice-dollar"></i>
                        Supplier Payments
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Suppliers/Index">
                        <i class="fas fa-user-tie"></i>
                        Suppliers
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/SalaryIssues/Index">
                        <i class="fas fa-file-signature"></i>
                        Salary Issues
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/SalaryPayments/Index">
                        <i class="fas fa-hand-holding-usd"></i>
                        Salary Payments
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Employees/Index">
                        <i class="fas fa-users"></i>
                        Employees
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#inventorySubmenu"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle cust-dropdown">
                <i class="fa fa-boxes"></i>
                Inventory
            </a>
            <ul class="collapse list-unstyled"
                id="inventorySubmenu">
                <li>
                    <a asp-area=""
                       asp-page="/Products/Index">
                        <i class="fas fa-box"></i>
                        Products
                    </a>
                </li>
                <li>
                    <a asp-area=""
                       asp-page="/Services/Index">
                        <i class="fas fa-concierge-bell"></i>
                        Services
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a asp-page="/Reporting/Index">
                <i class="fa fa-file-alt"></i>
                Reporting
            </a>
        </li>

        <li>
            <a asp-page="/Outlets/Index">
                <i class="fa fa-store"></i>
                Outlets
            </a>
        </li>
    </ul>
</div>