@using Domain
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var avatar =
        Url.Action(
            "Get",
            "Files",
            new { id = user?.Avatar ?? "user.png" });
}

<li>
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#accountSubmenu"
           data-toggle="collapse"
           aria-expanded="false"
           class="dropdown-toggle cust-dropdown">
            @if (user?.Avatar?.Length > 0)
            {
                <img src="@avatar"
                     class="rounded-circle m-2"
                     alt="avatar"
                     width="30">
            }
            else
            {
                <i class="fas fa-smile"></i>
            }
            @User.Identity.Name
        </a>
        <ul class="collapse list-unstyled"
            id="accountSubmenu">
            <li>
                <a asp-area="Identity"
                   asp-page="/Account/Manage/Index">
                    <i class="fas fa-user-cog"></i>
                    Manage Account
                </a>
            </li>
            <li>
                <form class="form-inline"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="/Index"
                      method="post">
                    <button type="submit"
                            class="nav-link btn btn-link text-dark">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <a class="btn btn-light nav-link text-dark"
           asp-area="Identity"
           asp-page="/Account/Login">
            <i class="fas fa-sign-in-alt"></i>
            Login
        </a>
    }
</li>

