@using Domain
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<li>
    @if (SignInManager.IsSignedIn(User))
    {
        <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="material-icons">
                face
            </i>
            @User.Identity.Name
        </a>
        <ul class="collapse list-unstyled" id="accountSubmenu">
            <li>
                <a asp-area="Identity"
                   asp-page="/Account/Manage/Index">
                    Manage Account
                </a>
            </li>
            <li>
                <form class="form-inline"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/", new {area = ""})"
                      method="post">
                    <button type="submit"
                            class="nav-link btn btn-link text-dark">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    }
    else
    {
        <a class="btn btn-light nav-link text-dark"
           asp-area="Identity"
           asp-page="/Account/Login">
            Login
        </a>
    }
</li>

