<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Khata</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="~/lib/materialbootstrap/css/material.css" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font Awesome JS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="text-left">
                <button type="button" id="sidebarCollapse" class="btn btn-lg btn-link" style="color:white">
                    <i class="material-icons">
                        menu
                    </i>
                </button>
            </div>
            @*<div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                    <strong>BS</strong>
                </div>*@

            <ul class="list-unstyled components">
                <li>
                    <a asp-area=""
                       asp-page="/Index">
                        <i class="material-icons">home</i>
                        Home
                    </a>
                </li>

                <li>
                    <a asp-area=""
                       asp-page="/Cash/Index">
                        <i class="material-icons">monetization_on</i>
                        Cash
                    </a>
                </li>

                <li>
                    <a href="#incomingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">
                            arrow_forward
                        </i>
                        Incoming
                    </a>
                    <ul class="collapse list-unstyled" id="incomingSubmenu">
                        <li>
                            <a asp-area=""
                               asp-page="/Sales/Index">Sales</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/DebtPayments/Index">Debt Payments</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/Customers/Index">Customers</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#outgoingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">
                            arrow_back
                        </i>
                        Outgoing
                    </a>
                    <ul class="collapse list-unstyled" id="outgoingSubmenu">
                        <li>
                            <a asp-area=""
                               asp-page="/Expenses/Index">Expenses</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/Purchases/Index">Purchases</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/SupplierPayments/Index">Supplier Payments</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/Suppliers/Index">Suppliers</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/SalaryIssues/Index">Salary Issues</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/SalaryPayments/Index">Salary Payments</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/Employees/Index">Employees</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#inventorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">
                            domain
                        </i>
                        Inventory
                    </a>
                    <ul class="collapse list-unstyled" id="inventorySubmenu">
                        <li>
                            <a asp-area=""
                               asp-page="/Products/Index">Products</a>
                        </li>
                        <li>
                            <a asp-area=""
                               asp-page="/Services/Index">Services</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
