<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Khata</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link href="~/lib/font-awesome.css" rel="stylesheet" />
    <link href="~/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/css/typeaheadjs.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />

    <!-- Font Awesome JS -->
    <link href="~/lib/Material-Icons/material-icons.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <partial name="_Sidebar" />

        <!-- Custom-header-wrapper -->
        <partial name="_Navbar" />


        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/typeahead.bundle.js"></script>
    <script src="~/js/moment-with-locales.min.js"></script>
    <script src="~/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/sidebar.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>