<div id="custom-header-wrapper">
    <a href="#menu-toggle"
       class="btn btn-nav btn-default btn-link"
       id="menu-toggle">
        <i class="material-icons">
            menu
        </i>
    </a>
</div>