#page {
    font-size: 14pt; 
    min-width: 8.27in;
    /*max-width: 5.8in;*/
}

#top {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.payment-information {
    padding-right: 0px;
    padding-left: 0px;
}

.card {
    padding-right: 0px;
    padding-left: 0px;
}

.col-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.col-md-8 {
    padding-left: 0px;
}

.col-md-4 {
    padding-right: 0px;
}

.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
}
