/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.ui-front {
    z-index: 9999999 !important;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.chart-info-big {
    font-size: 2rem;
}

.widget {
    min-width: 25rem;
}

.widget-tall {
    min-width: 20rem;
    max-width: 35rem;
}