@model IndexModel

<div class="card-header"
     id="deposits-heading">
    <div class="row">
        <div class="col-8">
            <button class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target="#deposits-collapse"
                        aria-expanded="true"
                        aria-controls="deposits-collapse">
                    <i class="fa fa-plus"></i>
                    Deposits
                </button>
        </div>
        <div class="col-4 text-right">
            <span class="badge badge-dark">
                @Html.DisplayFor(model => model.DepositsCount)
            </span>
        </div>
    </div>
</div>

<div id="deposits-collapse"
     class="collapse"
     aria-labelledby="deposits-heading"
     data-parent="#reports-accordion">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <strong>
                    @Html.DisplayNameFor(model => model.DepositsTotal)
                </strong>
            </div>
            <div class="col-6 text-right">
                @Html.DisplayFor(model => model.DepositsTotal)
            </div>
        </div>

        <div class="accordion" id="deposits-list-accordion">
            <div class="card-text" id="deposits-list-heading">
                <h2 class="mb-0">
                    <button class="btn btn-link"
                            type="button"
                            data-toggle="collapse"
                            data-target="#deposits-list-collapse"
                            aria-expanded="true"
                            aria-controls="deposits-list-collapse">
                        <i class="fa fa-plus"></i>
                        List
                    </button>
                </h2>
            </div>

            <div id="deposits-list-collapse"
                 class="collapse"
                 aria-labelledby="deposits-list-heading"
                 data-parent="#deposits-list-accordion">

                <partial name="_DepositsList" for="Deposits" />

            </div>
        </div>
    </div>
</div>