@page
@using WebUI.Areas.Outgoing.Pages.SalaryIssues
@model CreateModel

@{
    ViewData["Title"] = "New Salary-Issue";
}

<div class="row">
    <div class="col-md-6 col-lg-4">
            <partial name="_SalaryIssueForm" for="SalaryIssueVm"/>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    <script src="~/js/salary.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
