@page
@model Customers.EditModel

@{
    ViewData["Title"] = "Update Customer";
}

<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8">
        <partial name="_CustomerForm" 
                 for="CustomerVm"/>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}