@page
@using WebUI.Areas.Outgoing.Pages.Refunds
@model IndexModel

@{
    ViewData["Title"] = "Refunds";
}

@if (Model.Refunds.Any())
{
    <div class="row">
        <div class="col-md-6">
            <partial name="_Search" 
                     for="Pf" />
        </div>
        <div class="col-md-6 text-right">
            <p>
                <a asp-page="Create"
                   class="btn btn-primary">
                    Create new
                </a>
            </p>
        </div>
    </div>

    <partial name="_RefundsList"
             for="Refunds" />

    <partial name="_Pagination"
             for="Refunds.EmitPagination" />
}
else
{
    <partial name="_LonelyHere" />
}
