@using Khata.ViewModels
@using WebUI.Controllers
@model SupplierPaymentViewModel

@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

<div class="form-group" hidden>
    <label asp-for="SupplierId" class="control-label"></label>
    <input asp-for="SupplierId" class="form-control" />
    <span asp-validation-for="SupplierId" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label">Supplier</label>
    <input id="SupplierSelector"
           name="SupplierSelector"
           class="form-control"
           type="text"
           data-path="@Url.Action("GetIds", "Suppliers")" />
</div>

<div class="form-group">
    <label class="control-label">Previous Payable</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">@sym</span>
        </div>
        <input id="PayableBefore" class="form-control" disabled />
    </div>
</div>



<div class="form-group">
    <label asp-for="Amount" class="control-label"></label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">@sym</span>
        </div>
        <input asp-for="Amount" id="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label class="control-label">Payable After</label>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">@sym</span>
        </div>
        <input id="PayableAfter" class="form-control" disabled />
    </div>
</div>

<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>