@page
@model WebUI.Pages.ErrorModel
@{
    
    ViewData["Title"] = "Error";
}

<body class="bg-danger text-white">
    <h1 class="display-1">Error</h1>
    <h2 class="lead">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code class="text-white">@Model.RequestId</code>
        </p>
    }

</body>