@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Options.Title</h1>
    <p class="h4 lead">
        <lead>
            @Model.Options.Slogan
        </lead>
    </p>
    <p>
        <lead>
            @Model.Options.Address
        </lead>
    </p>
    <a asp-page="/Sales/Create"
       class="btn btn-outline-primary mb-2"
       style="width:150px;">
        <i class="fa fa-plus"></i>
        Sale
    </a>
    <a asp-page="/Expenses/Create"
       class="btn btn-outline-danger mb-2"
       style="width:150px;">
        <i class="fa fa-plus"></i>
        Expense
    </a>
    <a asp-page="/Purchases/Create"
       class="btn btn-outline-info mb-2"
       style="width:150px;">
        <i class="fa fa-plus"></i>
        Purchase
    </a>
    </p>
</div>
