@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row pt-1">
    <div class="col-xl-6 col-lg-8 col-md-12">
        <partial name="_PerDayReport" />
    </div>
</div>
<hr />

<partial name="_PeriodicalReport"
         for="@Model" />

<hr />

<div class="card-columns">
    <partial name="_Assets"
             for="Asset" />

    <partial name="_Liabilities"
             for="Liability" />
</div>


@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/chart.js/Chart.bundle.js"></script>
    <script src="~/js/dashboard.js"></script>
}