@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row pt-3">
    <div class="col-lg-8 col-md-12 mb-3">
        <partial name="_PerDayReport" />
    </div>
</div>
<hr />

<partial name="_PeriodicalReport" for="@Model" />

<hr />
<div class="row">
    <div class="col-lg-3 col-md-6 widget">
        <partial name="_Assets" for="Asset" />
    </div>

    <div class="col-lg-3 col-md-6 widget">
        <partial name="_Liabilities" for="Liability" />
    </div>
</div>


@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/chart.js/Chart.bundle.js"></script>
    <script src="~/js/dashboard.js"></script>
}