@page
@model WebUI.Areas.Incoming.Deposits.DetailsModel
@{
    ViewData["Title"] = "Deposit";
}

<div class="card info-card">
    <div class="card-header">
            Deposit# @Model.Deposit.Id
    </div>

    <div class="card-body">
        <table class="table table-sm table-hover mb-0">
            <tbody>
            <tr>
                <th>
                    Amount
                </th>
                <td class="text-right">
                    @Model.Deposit.Amount.ToCurrency()
                </td>
            </tr>
            <tr>
                <th>
                    Description
                </th>
                <td class="text-right">
                    @Html.DisplayFor(model => model.Deposit.Description)
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" 
                 for="Deposit.Metadata" />
    </div>
</div>

