@page
@model WebUI.Pages.Reporting.DailyReportModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Daily Report</title>
</head>
<body>
</body>
</html>
