@page
@model WebUI.Pages.Reporting.MonthyReportModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MonthyReport</title>
</head>
<body>
</body>
</html>
