@page
@model IndexModel

@{
    ViewData["Title"] = "Reporting";
}

<div class="row">
    <div class="col-12 mb-1">
        <div class="row">
            <div class="col mb-2">
                <partial name="_PrintableReportButtons" />
            </div>
        </div>
    </div>

    <div class="col-12">
        @*New*@
        <div class="card">
            <div class="card-body">
                <form method="get"
                      class="form-inline">
                    <input type="text"
                           class="form-control daterange mb-2"
                           value="@Clock.Today.LocalDate() - @Clock.Now.LocalDate()" />

                    <input asp-for="FromText"
                           type="text"
                           name="fromText"
                           id="from-text"
                           required hidden />

                    <input asp-for="ToText"
                           type="text"
                           name="toText"
                           id="to-text"
                           required hidden />

                    <button type="submit"
                            class="btn btn-outline-primary mb-2 ml-sm-2">
                        Go
                    </button>
                </form>
            </div>

            <div class="card-header"
                 id="card-banner">
                <div class="row">
                    <div class="col-sm-6">
                        From: <strong>@Model.FromText</strong>
                    </div>
                    <div class="col-sm-6 text-sm-right">
                        To: <strong>@Model.ToText</strong>
                    </div>
                </div>
                <br/>
            </div>

            <div class="accordion"
                 id="reports-accordion">

                <partial name="_SalesReport"
                         model="Model" />

                <partial name="_DebtPaymentsReport"
                         model="Model" />

                <partial name="_PurchaseReturnsReport"
                         model="Model" />

                <partial name="_DepositsReport"
                         model="Model" />

                <partial name="_ExpensesReport"
                         model="Model" />

                <partial name="_PurchasesReport"
                         model="Model" />

                <partial name="_SupplierPaymentsReport"
                         model="Model" />

                <partial name="_SalaryPaymentsReport"
                         model="Model" />

                <partial name="_RefundsReport"
                         model="Model" />

                <partial name="_WithdrawalsReport"
                         model="Model" />
            </div>
        </div>
    </div>
</div>