@page
@using WebUI.Pages.Components.Pagination
@using WebUI.Pages.Components.Search
@using WebUI.Pages.Suppliers.Components.SuppliersList
@model WebUI.Pages.Suppliers.IndexModel

@{
    ViewData["Title"] = "Suppliers";
}

<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync(
            nameof(Search),
            new { model = Model.Pf }
            )
    </div>
    <div class="col-md-6 text-right">
        <p>
            <a asp-page="Create" class="btn btn-primary">Create new</a>
        </p>
    </div>
</div>

<div>
    @await Component.InvokeAsync(
        nameof(SuppliersList),
        new { suppliers = Model.Suppliers })

    @await  Component.InvokeAsync(
        nameof(Pagination),
        new { model = Model.Suppliers.EmitPagination }
        )
</div>
