@page
@model WebUI.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="display-4">Dashboard</h1>


@*<partial name="_PeriodicalReport" for="@Model" />*@

<div class="row">
    <div class="col-lg-8 col-md-12 mb-3">
        <partial name="PerDayReport" />
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 widget">
        <partial name="_Assets" for="AssetReport" />
    </div>

    <div class="col-lg-4 col-md-6 widget">
        <partial name="_Liabilities" for="LiabilityReport" />
    </div>
</div>


@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/chart.js/Chart.bundle.js"></script>
    <script src="~/js/dashboard.js"></script>
}