@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<body class="bg-danger text-white">
    <h1 class="display-1">@ViewData["Title"]</h1>
    <p class="lead">You do not have access to this resource.</p>
</body>
