@using Khata.ViewModels
@model SupplierViewModel

@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CompanyName" class="control-label"></label>
    <input asp-for="CompanyName" class="form-control" />
    <span asp-validation-for="CompanyName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Address" class="control-label"></label>
    <textarea asp-for="Address" class="form-control"></textarea>
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Phone" class="control-label"></label>
    <input asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Payable" class="control-label"></label>
    <input asp-for="Payable" class="form-control" />
    <span asp-validation-for="Payable" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Note" class="control-label"></label>
    <textarea asp-for="Note" class="form-control"></textarea>
    <span asp-validation-for="Note" class="text-danger"></span>
</div>