@model WebUI.Areas.Cash.Pages.IndexModel

<div class="col-lg-6 card mb-4">
    <div class="card-body">
        <div class="row text-right">
            <div class="col">
                <h6 class="display-4"
                    style="font-size: 2rem">
                    Balance
                </h6>
                <h1 class="display-4">
                    @(Model.Cash.Balance.ToCurrency())
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <partial name="_DepositFormPartial" 
                         for="NewDeposit" />
            </div>
            <div class="col-md-6">
                <partial name="_WithdrawalFormPartial" 
                         for="NewWithdrawal" />
            </div>
        </div>
    </div>
</div>