@page
@using WebUI.Areas.Outgoing.Pages.Withdrawals
@model DetailsModel
@{
    ViewData["Title"] = "Withdrawal";
}

<div class="card info-card">
    <div class="card-header">
        Withdrawal# @Model.Withdrawal.Id
    </div>

    <div class="card-body">
        <h3 class="card-title">
            @Model.Withdrawal.TableName
        </h3>

        <table class="table table-sm table-hover mb-0">
            <tbody>
                <tr>
                    <th>
                        Amount
                    </th>
                    <td class="text-right">
                        @Model.Withdrawal.Amount.ToCurrency()
                    </td>
                </tr>
                <tr>
                    <th>
                        Description
                    </th>
                    <td class="text-right">
                        @Html.DisplayFor(model => model.Withdrawal.Description)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <partial name="_UpdateSummary" for="Withdrawal.Metadata" />
    </div>
</div>

