@page
@model Purchases.CreateModel

@{
    ViewData["Title"] = "New Purchase";
}

<div class="row">
    <div class="col-md-12 col-lg-8">
        <partial name="_PurchaseForm" 
                 for="PurchaseVm"/>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/purchaseForm.js" 
            asp-append-version="true">
    </script>
}
