@model Khata.ViewModels.DepositViewModel
@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
}

<form method="post" class="immutable-submit"
      asp-page-handler="Deposit">
    <div class="form-group" hidden>
        <input asp-for="TableName" value="Deposit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Deposit Amount</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@sym</span>
            </div>
            <input asp-for="Amount" value="0" class="form-control" />
        </div>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="reset" class="btn btn-secondary" value="Reset" />
        <input type="submit" class="btn btn-success" value="Add Deposit" />
    </div>
</form>