@model Khata.ViewModels.WithdrawalViewModel

<form method="post"
      asp-page-handler="Withdrawal">
    <div class="form-group" hidden>
        <input asp-for="TableName" value="Withdrawal" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label">Withdrawal Amount</label>
        <input asp-for="Amount" value="0" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="reset" class="btn btn-secondary" value="Reset" />
        <input type="submit" class="btn btn-primary" value="Add Withdrawal" />
    </div>
</form>