@page

@using Khata.Domain
@using Brotal.Extensions

@model WebUI.Pages.Cash.IndexModel

@{
    ViewData["Title"] = "Cash";
}


<div class="row">
    <partial name="_BalanceCard" for="@Model" />
    <div class="col-md-12 card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <form method="post"
                                  asp-page-handler="WithDateRange"
                                  class="form-inline">
                                <input type="text"
                                       asp-for="FromText"
                                       class="form-control datepicker mb-2 mr-sm-2"
                                       id="from"
                                       placeholder="From" autocomplete="off">
                                <input type="text"
                                       asp-for="ToText"
                                       class="form-control datepicker mb-2 mr-sm-2"
                                       id="to"
                                       placeholder="To" autocomplete="off">
                                <button type="submit" class="btn btn-outline-primary mb-2">Go</button>
                            </form>
                        </div>

                        <div class="col-md-6 text-md-left lead text-lg-right">
                            <strong>From: </strong> @Model.FromText, <strong>To: </strong> @Model.ToText
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pt-3">
                    <partial name="_DepositsTable" for="Deposits" />
                </div>
                <div class="col-md-6 pt-3">
                    <partial name="_WithdrawalsTable" for="Withdrawals" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#from").val('');
            $("#to").val('');
        });
    </script>
}