@page
@model WebUI.Pages.Sales.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="display-4">Create a Sale</h1>
<hr />

@if (!(Model.Message is null))
{
    <div class="alert alert-@Model.MessageType" role="alert">
        @Model.Message
    </div>
}

<div class="row">
    <div class="col-md-8">
        <form method="post" class="immutable-submit" id="sale-form">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            @await Component.InvokeAsync(
            nameof(Components.SaleForm.SaleForm),
            new { product = Model.SaleVm })

            <div class="form-inline">
                <div class="form-group pl-2">
                    <input type="submit"
                           class="btn btn-lg btn-primary"
                           value="Create" />
                </div>
                @*<div class="form-group pl-2">
                    <input type="submit" asp-page-handler="Save"
                           class="btn btn-lg btn-outline-success"
                           value="Save" />
                </div>*@
                <div class="form-group pl-2">
                    <input type="reset"
                           class="btn btn-lg btn-secondary"
                           value="Reset" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/saleForm.js"></script>
}
