@page
@using WebUI.Pages.Components.Search
@using WebUI.Pages.Sales.Components.SalesList
@model WebUI.Pages.Sales.SavedModel

@{
    ViewData["Title"] = "Saved Sales";
}

<div>
    <partial name="_SavedSaleList" for="Sales"/>
</div>
