@page
@using WebUI.Areas.Inventory.Pages.Services
@model CreateModel

@{
    ViewData["Title"] = "New Service";
}

<div class="row">
    <div class="col-lg-4 col-md-6">
            <partial name="_ServiceForm" for="ServiceVm"/>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
