@model Khata.DTOs.CustomerDto

<table class="table table-sm table-hover table-borderless">
    <tbody>
        <tr>
            <th>Company</th>
            <td>@Html.DisplayFor(model => Model.CompanyName)</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Html.DisplayFor(model => Model.Phone)</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Html.DisplayFor(model => Model.Address)</td>
        </tr>
    </tbody>
</table>
