@page "{outletId:int?}"
@using WebUI.Pages.Components.Search
@using WebUI.Pages.Products.Components.ProductsList
@model WebUI.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Products";
}

<h1 class="display-4 text-dark">Products</h1>
<p></p>

<div class="row">
    <div class="col-md-6">
        @await Component.InvokeAsync(
            nameof(Search),
            new { model = Model.Pf }
            )
    </div>
    <div class="col-md-6 text-right mb-3">
        <div class="dropdown text-right">
            <a class="btn btn-outline-secondary dropdown-toggle"
               href="#"
               role="button"
               id="dropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">
                Show Products only for
            </a>

            <div class="dropdown-menu"
                 aria-labelledby="dropdownMenuLink">
                @foreach (var o in Model.Outlets)
                {
                    <a class="dropdown-item @(Model.CurrentOutletId == o.Id ? "active": "")"
                       asp-page=""
                       asp-route-outletId="@o.Id">
                        @o.Title
                    </a>
                }
            </div>
            <a asp-page="Create" class="btn btn-primary">Create new</a>
        </div>
    </div>
</div>
@if (!(Model.Message is null))
{
    <div class="alert alert-@Model.MessageType" role="alert">
        @Model.Message
    </div>
}

<div>
    @await Component.InvokeAsync(
        nameof(ProductsList),
        new { products = Model.Products })

    @await Component.InvokeAsync(
        nameof(WebUI.Pages.Components.Pagination),
        new { model = Model.Products.EmitPagination })
</div>
