@page
@using WebUI.Areas.People.Pages.Suppliers
@model IndexModel

@{
    ViewData["Title"] = "Suppliers";
}

@if (Model.Suppliers.Any())
{

    <div class="row">
        <div class="col-md-6">
            <partial name="_Search" for="Pf" />
        </div>
        <div class="col-md-6 text-right">
            <p>
                <a asp-page="Create" class="btn btn-primary">Create new</a>
            </p>
        </div>
    </div>

    <partial name="_SuppliersList" for="Suppliers" />
    <partial name="_Pagination" for="Suppliers.EmitPagination" />
}
else
{
    <partial name="_LonelyHere" />
}
