@* @page *@
@using WebUI.Pages.DebtPayments.Components.DebtPaymentForm
@model WebUI.Pages.DebtPayments.EditModel

@{
    ViewData["Title"] = "Edit Debt Payment";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @await Component.InvokeAsync(
                nameof(DebtPaymentForm),
                new { debtPayment = Model.DebtPaymentVm })

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/debtPaymentForm.js"></script>
}
