@using ViewModels
@model DebtPaymentViewModel

@{
    var sym = System.Globalization.CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol;
    var customerSearchApi = Url.Action(
        "GetIds", 
        "Customers");
}

<div class="card mb-2">
    <div class="card-body">
        <form method="post" 
              class="immutable-submit">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger"
                 >
            </div>
            <input type="hidden" 
                   asp-for="Id" />

            <div class="form-group" hidden>
                <label asp-for="CustomerId"
                       class="col-form-label">
                </label>
                <input asp-for="CustomerId"
                       id="customer-id"
                       class="form-control" />
                <span asp-validation-for="CustomerId"
                      class="text-danger">
                </span>
            </div>

            <div class="form-group">
                <label class="col-form-label">
                    Customer
                </label>

                <input id="customer-selector"
                       name="CustomerSelector"
                       class="form-control"
                       type="text"
                       data-path="@customerSearchApi"
                       placeholder="Customer Name/ID"/>
            </div>
            
            <div id="customer-brief-info">
            </div>

            <div class="form-group">
                <label class="col-form-label">
                    Previous Debt
                </label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @sym
                        </span>
                    </div>
                    <input id="debt-before" 
                           class="form-control" 
                           disabled/>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Amount"
                       class="col-form-label">
                </label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @sym
                        </span>
                    </div>

                    <input asp-for="Amount" 
                           id="amount" 
                           class="form-control" />
                </div>
                <span asp-validation-for="Amount"
                      class="text-danger">
                </span>
            </div>

            <div class="form-group">
                <label class="col-form-label">
                    Debt After
                </label>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            @sym
                        </span>
                    </div>

                    <input id="debt-after" 
                           class="form-control" disabled />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="card-link btn btn-primary" />
            </div>
        </form>
    </div>
</div>

