@using ViewModels
@model PurchaseReturnViewModel

<div asp-validation-summary="ModelOnly"
     class="text-danger">
</div>

<input type="hidden"
       asp-for="Id" />

<div class="row">
    <div class="col-md-12">
        <partial name="_PurchaseReturnBasicInput"
                 model="Model" />
    </div>

    <!--LINE ITEM SELECT-->
    <div class="col-xl-6 pr-2 pr-xl-0">
        <partial name="_PurchaseReturnsLineItemInput" 
                 model="Model"/>
    </div>


    <!--PAYMENT INFORMATION-->
    <div class="col-xl-6 pl-3 pl-xl-0">
        <partial name="_PurchaseReturnsPaymentInput" 
                 model="Model"/>
    </div>
</div>
