@using ViewModels
@using static Domain.SaleType
@model SaleViewModel

@{
    var customerSearchApi = Url.Action(
        "GetIds", 
        "Customers");
}

<div class="card mb-1">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="SaleDate"
                           class="col-form-label">
                    </label>

                    <input type="text"
                           class="form-control form-control-sm dr-datepicker"
                           placeholder="dd/mm/yyyy"
                           asp-for="SaleDate"
                           id="sale-date"
                           autocomplete="off" />

                    <span asp-validation-for="SaleDate"
                          class="text-danger">
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Type"
                           class="col-form-label">
                    </label>
                    <br />
                    <div class="form-check form-check-inline">
                        <input asp-for="Type"
                               class="form-check-input"
                               type="radio"
                               id="retail"
                               value="@Retail" checked>
                        <label class="form-check-label"
                               for="retail">
                            Retail
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input asp-for="Type"
                               class="form-check-input"
                               type="radio" id="bulk"
                               value="@Bulk">
                        <label class="form-check-label" for="bulk">
                            Whole Sale
                        </label>
                    </div>
                    <span asp-validation-for="Type"
                          class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-form-label"
                           asp-for="Customer">
                    </label>
                    
                    <input asp-for="CustomerId"
                           id="customer-id"
                           type="number"
                           value="0"
                           class="form-control" hidden />

                    <input id="customer-selector"
                           class="form-control form-control-sm"
                           type="text"
                           data-path="@customerSearchApi"
                           placeholder="Customer Name/ID" />
                </div>

                <div id="customer-brief-info">
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="RegisterNewCustomer"
                               id="register-new-customer"
                               class="form-check-input"
                               type="checkbox"
                               data-toggle="collapse"
                               href="#customerInputCollapse">
                        <label asp-for="RegisterNewCustomer"
                               class="form-check-label"
                               for="register-new-customer"></label>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="OutletId"
                           class="col-form-label">
                    </label>

                    <select asp-for="OutletId"
                            id="outlet-id"
                            class="form-control form-control-sm"
                            asp-items="ViewBag.Outlets"></select>
                </div>
            </div>
        </div>

        @*Customer*@
        <div class="collapse"
             id="customerInputCollapse">

            <partial name="_NewCustomerInput"
                     for="Customer" />
        </div>
    </div>
</div>

