@page
@using WebUI.Areas.Inventory.Pages.Products
@model CreateModel

@{
    ViewData["Title"] = "New Product";
}

<div class="row">
    <div class="col-xl-6 col-lg-8">
        <partial name="_ProductForm" 
                 for="ProductVm"/>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
