hr {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.ui-front {
    z-index: 9999999;
}

.ui-autocomplete {
    font-size: 0.9rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.chart-info-big {
    font-size: 2rem;
}


.input-group-sm > .form-control,
.input-group-sm > .custom-select,
.input-group-sm > .input-group-prepend > .input-group-text,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-append > .btn,
.input-group > .form-control,
.input-group > .custom-select,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-append > .btn,
.card,
.btn,
.form-control,
.input-group-append,
.nav-pills > .nav-item > .nav-link,
.dropdown-menu,
.popover,
.input-group-text {
    border-radius: 0;
}

    .card:hover, .dropdown-menu {
        box-shadow: 0 0 5px #E0E0E0;
    }

.widget {
    min-width: 25rem;
    margin: 1rem;
    display: inline-block;
}


.widget-tall {
    min-width: 10rem;
    max-width: 25rem;
}

.report-section-header > th {
    font-size: 1.5rem;
    font-weight: 500;
}

.report-section-header > td {
    font-size: 1.5rem;
    font-weight: 500;
}

.outlet-stock-summary {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#perdayreport {
    width: 100%;
}

#perdayreport-chart {
    width: 100%;
}

#send-report-button {
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
    padding-right: 0.9rem;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



.dropdown-menu {
    opacity: 0.8;
    height: 0;
    display: block;
    transition: all 0.2s;
    overflow: hidden;
    transform-origin: top;
    transform: scale(1,0);
}

    .dropdown-menu.collapsing {
        display: block;
    }

    .dropdown-menu.show {
        opacity: 1;
        height: auto;
        transition: all 0.2s;
        transform: scale(1);
    }

.bootstrap-datetimepicker-widget {
    z-index: 99999;
}

.daterange {
    min-width: 14rem;
    max-width: 20rem;
}

.info-card {
    max-width: 40rem;
    min-width: 15rem;
}

.accordion .fa {
    margin-right: 0.5rem;
    vertical-align: middle;
}

.btn {
    vertical-align: middle;
}

.cart {
    background-color: inherit;
}

.cart-item-name {
    min-width: 10rem;
}

.cart-item {
    font-weight: bold;
}

#card-banner {
    background-color: rgba(255, 224, 130, 0.8);
    font-size: 1.3rem;
    padding-bottom: 0;
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}


@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

.pie-chart {
    height: 150px;
}