/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.ui-front {
    z-index: 9999999;
}

.ui-autocomplete {
    font-size: 0.9rem;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.chart-info-big {
    font-size: 2rem;
}

.widget {
    min-width: 25rem;
}

.widget-tall {
    min-width: 20rem;
    max-width: 25rem;
}

.report-section-header > th {
    font-size: 1.5rem;
    font-weight: 500;
}

.report-section-header > td {
    font-size: 1.5rem;
    font-weight: 500;
}

.outlet-stock-summary {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#perdayreport {
    width: 100%;
}

@media(max-width:768px) {
    #perdayreport {
        min-height: 40%;
    }
} 