@page
@using WebUI.Pages.Components.Search
@using WebUI.Pages.Outlets.Components.OutletsList
@model WebUI.Pages.Outlets.IndexModel

@{
    ViewData["Title"] = "Outlets";
}

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6 text-right">
        <p>
            <a asp-page="Create" class="btn btn-primary">Create new</a>
        </p>
    </div>
</div>

<div>
    @await Component.InvokeAsync(
        nameof(OutletsList),
        new { outlets = Model.Outlets })
</div>
