@page
@model Sales.CreateModel

@{
    ViewData["Title"] = "New Sale";
}

<div class="row">
    <div class="col-md-12 col-lg-8">
        <partial name="_SaleForm" 
                 for="SaleVm"/>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/saleForm.js"></script>
}
